@charset "UTF-8";

@font-face {
	font-family: Darl;
	src: url(fonts/Darleston.otf);
}

@font-face {
	font-family: Pop-B;
	src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
	font-family: Pop-M;
	src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
	font-family: Pop-R;
	src: url(fonts/Poppins-Regular.ttf);
}


* {
	margin: 0;
	padding: 0;
  
}

body {
	font-family: Pop-R;
	text-decoration: none;
	color: black;
  overflow-x: hidden;
}


header {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1.125rem;
	display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 1.25rem clamp(1.5rem, 5vw, 5rem);
	color: black;
	
	position: fixed;
	backdrop-filter: blur(8px);
	z-index: 1000;
	text-decoration: none;
	width: 100%;
  height: 112px;

	top: 0;
  left: 0;


	box-sizing: border-box;
  transition: 0.5s;
}

header.active {
  top: -112px;
}

#logo a {
	font-size: 1.75rem;
	text-decoration: none;
	color: black;
  white-space: nowrap;
	
}

header span {
	font-size: 3.5rem;
	font-family: Darl;
	color: black;
	text-decoration: none;
	font-weight: normal;
}

nav {
	display: flex;
	gap: 3rem;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #c89db4;
}

.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1100;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

#baner {
	background-image: url(images/baner2_.png);
  
	background-position: center;
	background-size: cover;
	background-repeat:  no-repeat;
	display: flex;

	align-items: center;
	justify-content: center;
  margin-bottom: 10%;
  
  position: relative;
  min-height: 100vh;

}

#baner p {
	font-size: 2rem;
	line-height: 1.5;
	
	color: black;
	max-width: 18.75rem;
	text-align: center;
	padding-left: 2%;

  position: absolute;
  top: 50%;
	transform: translateY(-50%);

}


#baner p span {
	font-family: Darl;
	font-size: 112px;
	margin-top: -30px;
	display: block;
  padding-left: 7%;
}

/* O MENI */
#omeni {
  display: flex;
  justify-content: center;
  gap: 7.5vw;
  padding: 15vh 10%;
}

.tehnicke-vestine {
  max-width: 380px;
  position: relative;
}

.vestine {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
  
}

.vestine img {
	width: 130%;
	height: auto;
}

.vestine-tekst {
	position: absolute;
	text-align: left;
  left: 18%;
	top: 150px;
	width: 100%;
	
}

.vestine-tekst h3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  top: 150px;
  margin-bottom: 5%;
}

.vestine-tekst p {
  font-size: 1.25rem;
  line-height: 1.2;
}

.nina {
  max-width: 450px;
  margin-left: -5%;
  position: relative;
  z-index: -2;
  top: -16vh;
  left: -1.875%;

}

.nina img {
  width: 100%;
  display: block;
  margin-bottom: 5%;
}

.nina h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 2%;
}

.nina p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 25%;
  width: 100%;
}

.nina h2, .nina p {
	margin-left: 25%;
}


/* SEKCIJA RADOVI */
#radovi {
  width: 100%;
  margin-top: -25%;
  padding-top: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;

}

#radovi h2 {
  font-size: 3rem;
  margin-bottom: 3%;
  
  width: min(1300px, 90vw);
  margin-inline: auto;
  text-align: left;

}


#tabs {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: min(1400px, 90vw);
  margin-inline: auto;
  padding: 0;
  list-style: none;
  gap: 0.5vw;
}

#tabs li {
  float: none;         
  margin: 0;
  flex: 1 1 0;         
}

#tabs a {
  width: 100%;
  text-align: center;

  padding: clamp(0.6em, 1vw, 0.8em) clamp(1.2em, 2vw, 2.5em);
  font-size: clamp(1.1rem, 1.4vw, 1.5rem);

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);

  border-radius: 15px 15px 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  transition: color 0.2s ease, font-size 0.2s ease;
}


#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs #current a,
#tabs #current a::after {
  background: #fff;
  z-index: 3;
  color: #444;
  font-weight: bold;
}

#tabs #current a {
  border-top: 1px solid #d7d1d1;
  border-left: 1px solid #d7d1d1;
}

#tabs #current a::after {
  border-right: 1px solid #d7d1d1;
}

#content {
  background: #fff;
  padding: 2em;
  min-height: 600px;
  padding: clamp(1.5rem, 3vw, 3rem);
  position: relative;
  z-index: 2;
  border-radius: 0 5px 5px 5px;

}

#tab1, #tab2, #tab3, #tab4 {
  display: flex;
  flex-direction: row;      
  overflow-x: auto;         
  overflow-y: hidden;       
  scroll-behavior: smooth;
  gap: 50px;                
  padding-bottom: 20px;    
  align-items: flex-start;  
}
  

#tab1::-webkit-scrollbar {
  height: 8px;
}
#tab1::-webkit-scrollbar-thumb {
  background: #B0698D;
  border-radius: 10px;
}


#tabs,
#content {
  width: min(1400px, 90vw);  
  margin-inline: auto;   
}   

/* TAB 1 */
#tabs li:nth-child(1) a,
#tabs li:nth-child(1) a::after {
  background: #B0698D;
  background-image: linear-gradient(to top, #925474, #B0698D);
}

/* TAB 2 */
#tabs li:nth-child(2) a,
#tabs li:nth-child(2) a::after {
  background: #C396B5;
  background-image: linear-gradient(to top, #8B6880, #C396B5);
}

/* TAB 3 */
#tabs li:nth-child(3) a,
#tabs li:nth-child(3) a::after {
  background: #DFA8BA;
  background-image: linear-gradient(to top, #B28695, #DFA8BA);
}

/* TAB 4 */
#tabs li:nth-child(4) a,
#tabs li:nth-child(4) a::after {
  background: #dfafaf;
  background-image: linear-gradient(to top, #d79797, #dfafaf);
}


.border img {
	width: 100%;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  color: #B0698D;

  font-size: 4rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;

  transition: transform 0.3s ease, color 0.3s ease;
  padding: 20px;
}
.nav-arrow:hover { 
  transform: translateY(-50%) scale(1.3);
  color: #925474; 
}
.left { left: -10px; }
.right { right: -10px; }


/* UI/UX */

#tab1 {
  height: auto; 
  min-height: 650px;
}

#tab1 .item {
  flex: 0 0 100%; 
  width: 100%;
  display: flex;
  align-items: center;
}

.laptop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.laptop img {
	width: 60%;
  height: auto;
}

.laptop p {
	width: 40%;
  padding-left: 5%;
  font-size: 1.3rem;
}

.ui-mobiles {
  position: relative;
  width: 100%;
  height: 550px; 
  flex-shrink: 0;
}

.ui-bg {
  width: 100% !important;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.ui-text {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translateY(-50%);
  width: 30%;
  z-index: 5;
    
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.4;
}

.phone-small {
    position: absolute;
    top: -7%;
    right: 0%;
    left: 70%;

    width: 35%;
    z-index: 4;
}

.phone-big {
    position: absolute;
    top: -10%;
    left: 60%;
	  bottom: 0;

    width: 30%;
    z-index: 3;
}


/* 3D MODELOVANJE */
#tab2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0; 
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  
}

#tab2::-webkit-scrollbar {
  height: 8px;
}
#tab2::-webkit-scrollbar-thumb {
  background: #B0698D; 
  border-radius: 10px;
}

.rem-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 1400px;
  
  height: 100%;
  white-space: normal; 
  gap: 100px;

  padding: 5% ;
  box-sizing: border-box;
}

.rem-slike {
	position: relative;
  flex: 0 0 40%; 
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.rem-slike .rem1 {
  width: 100%;
  height: auto;
  border-radius: 15px;
  
  margin: 0;
  
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rem-slike .ruz1:hover, .rem-slike .ruz2:hover {
  transform: scale(1.1);
}

.rem-slike .ruz2 {
	position: absolute;
	width: 40%;
	top: -20%;
	left: -5%;
  right: 10%;
  transition: transform 0.4s ease;
}

.rem-slike .ruz1 {
	position: absolute;
	width: 45%;
	top: 45%;
	left: -10%;
  transition: transform 0.4s ease;
}

.rem-text {
  max-width: 550px; 
  padding: 0 40px;
  box-sizing: border-box;
  
}

.rem-text p {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: left;
}

.rem-galerija {
  display: flex;
  gap: 30px;
  flex: 0 0 auto;
  padding: 0 50px;
}

.rem-galerija img {
  height: 450px; 
  width: auto;   
  border-radius: 15px;
  flex: 0 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.rem-galerija img {
  height: 400px;
  width: auto;
  border-radius: 15px;
  flex: 0 0 auto;
  cursor: pointer;
  
  transition: 
    transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    box-shadow 0.5s ease, 
    filter 0.5s ease;
  
  filter: grayscale(20%); 
}

.rem-slike .rem1:hover {
  box-shadow: 
    0 15px 35px rgba(157, 93, 189, 0.8), 
    0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-15px) scale(1.05);
}

.rem-galerija img:hover {
  transform: translateY(-15px) scale(1.05);
  filter: grayscale(0%); 
  box-shadow: 
    0 15px 35px rgba(157, 93, 189, 0.8), 
    0 5px 15px rgba(0, 0, 0, 0.1);
}

.rem-galerija:hover img:not(:hover) {
  opacity: 0.7;
  filter: blur(2px) grayscale(50%);
  transform: scale(0.95);
}

.active-touch {
  transform: scale(1.05) !important;
  box-shadow: 0 0 20px rgba(195, 150, 181, 0.8) !important;
  z-index: 10;
}

/* VIDEO IGRA */

#tab3::-webkit-scrollbar {
  height: 8px;
}
#tab3::-webkit-scrollbar-thumb {
  background: #B0698D; 
  border-radius: 10px;
}

#tab3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  height: auto;
  min-height: 600px; 
  gap: 0;
}


#tab3 .igrica-wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;

}

.scene-toggle {
  display: flex;
  flex: 0 0 100%; 
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding: 0 5%;
  box-sizing: border-box;
}


.scene-wrapper {
  flex: 0 0 50%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.scene-wrapper img {
  width: 100%; 
  max-width: 600px;
  height: auto;
  border-radius: 20px;
}

.toggle-text {
  flex: 0 0 40%; 
  font-size: 1.3rem;
  line-height: 1.6;
}

.toggle-button {
  margin-top: 50px;
}


#themeToggle {
  width: 220px;
  height: 80px;
  background-color: #162743; 
  border-radius: 999px; 
  border: none;
  padding: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;

  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);

}

#themeToggle img {
  width: 64px;
  height: auto;
  object-fit: cover;
}


/* DAN */
#themeToggle {
  transition: background-color 0.4s ease;
}

#themeToggle.day #toggleIcon {
  transform: translateX(135px) scale(1.15);
}

#themeToggle.day {
  background-color: #8ecbff; 
}

#toggleIcon {
  transition: transform 0.4s ease;
}

.scene-wrapper img {
  transition: opacity 0.4s ease;
}

.gameplay {
  flex: 0 0 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
  padding-bottom: 5%;
}

.gameplay video {
  width: 100%;
  max-width: 1000px; 
  height: auto;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.table {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 5%;
  box-sizing: border-box;
}

.table img {
  width: 22%; 
  height: auto;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.table img:hover {
  transform: scale(1.5) translateY(-10px);
  z-index: 5;
}

/* BRENDING */

#tab4::-webkit-scrollbar {
  height: 8px;
}
#tab4::-webkit-scrollbar-thumb {
  background: #B0698D; 
  border-radius: 10px;
}

#tab4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 0;

  align-items: stretch; 
}

.formula-wrapper {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
  box-sizing: border-box;
}

.formula {
  display: flex;
  width: 100%;
  align-items: center;
}

.formula figure {
  flex: 0 0 50%; 
  display: flex;
  justify-content: center;
}

.formula figure p {
  background-image: url(images/formuka_pozadina.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.3rem;
  width: 100%;
  max-width: 700px;
  padding: 200px 7vw 7.5vw 7vw; 
}

.pcela {
  flex: 0 0 50%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pcela .logo2 {
	z-index: 20;
  width: 50%;
	margin-bottom: 5%;
	padding-left: 0;
  margin-top: -150px; 
  transition: transform 0.4s ease;
}

.pcela .logo2:hover {
  transform: scale(1.15);
}

.pcela .logo1{
	z-index: 15;
	margin-left: 8vw;
	width: 50%;
}

.pcela p {
	font-size: 1.3rem;
  max-width: 500px;
  margin-top: 20px;
}

.brosura {
	flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 5%;
}

.brosura img {
	width: 25%;
  height: auto;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.brosura img:hover {
  transform: scale(1.5);
}


.patern {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  
}

.patern-inner {
  
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.patern-inner img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10%;
  position: relative;    
}

.patern-inner h3 {
  position: absolute;
  top: 80px;
  right: 7vw;
  text-align: left;
  font-size: 1.5rem;
  z-index: 2;
}

.patern-inner p {
  position: absolute;
  top: 150px;
  right: 2vw;
  width: 300px;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.4;
  z-index: 2;
}


.jez-sekcija-container { 
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  gap: 40px; 
  box-sizing: border-box;
}

.jez {
  display: flex;
  flex-direction: row; 
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  white-space: normal;
  
}

.jez > p { 
  flex: 1;
  font-size: 1.3rem;
  padding-right: 20px;
  max-width: 400px;
}



.stikeri { 
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stikeri img {
	width: 70%;
  height: auto;
}

.stikeri .stiker2 {
	z-index: 20;
	margin-top: -16vh;
	margin-bottom: 15%;
	padding-left: 10%;
	margin-left: 20%;
  transition: transform 0.4s ease;
}

.stikeri .stiker2:hover {
  transform: scale(1.15);
}

.stikeri .stiker1 {
	z-index: 15;
}

.carousel2::-webkit-scrollbar {
  display: none;
}

.carousel2 {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  padding: 20px 0;
}

.carousel-group {
  display: flex;
  gap: 0;
  animation: spin 25s infinite linear;
}

.card {
  width: 500px; 
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

@keyframes spin {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}


/* PITANJA */
#pitanja figure {
	position: relative;
	display: inline-block;
	margin: 0 auto 120px;
}

#pitanja {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 15%;
}

#pitanja figure {
	position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

#pitanja figure img {
	width: 60%;
	height: auto;
}

#pitanja figure h2 {
	font-size: clamp(2rem, 4vw, 3rem);
	position: absolute;
	left: 10%;
  top: 50%;
  transform: translateY(-50%);

}

.faq {
  width: min(1200px, 90vw); 
	margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: clamp(1.2rem, 2vw, 2rem);
}


.faq-item button {
	font-size: clamp(1.3rem, 2.5vw, 2.5rem);
	font-family: Pop-M;
	background: none;
  border: none;
	text-align: left;
	gap: clamp(10px, 1.5vw, 15px);
	cursor: pointer;

	display: flex;
  align-items: center;

	width: 100%;
}

.faq-item button img {
	max-width: clamp(20px, 3vw, 40px);
	height: auto;
	transform: rotate(180deg);
	transition: transform 0.3s ease;
  flex-shrink: 0;
}

/* ANIMACIJA PITANJA */
.faq-answer {
  max-height: 0;
  max-width: 1000px;
  overflow: hidden;
  transition: max-height 0.35s ease;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.faq-item.active .faq-answer {
  max-height: 500px;
}

.faq-item.active img {
	transform: rotate(0deg);
}

/* KONTAKT */
#kontakt {
	background-image: url(images/kontakt_pozadina.png);
	min-height: 120vh;
	width: 100%;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


	overflow: auto;
	position: relative;

  padding-top: clamp(20vh, 35vh, 45vh);
  padding-bottom: clamp(8vh, 15vh, 25vh);
}


form {
	width: min(800px, 85vw);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


input, textarea {
	display: block;
	text-align: left;
	margin: clamp(1rem, 2vw, 1.5rem) auto;
  width: 50%;
	color: black;

  font-family: Pop-R;
	padding: 10px;
	font-size: clamp(1rem, 1.2vw, 1.125rem);
	
  outline: none;
	border-bottom: 1px solid #a39a9e;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: #F5F4F2;

}

textarea {
  margin-bottom: clamp(2rem, 6vh, 6rem);;
  resize: none;
}


input[type="submit"] {
  background-color: #f0cfcf;
	border-radius: 10px;
	text-align: center;
	width: 20%;
  

  transition: 0.4s ease;
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

input[type="submit"]:hover {
  width: 35%;
	cursor: pointer;
  background-color: #f3c2c2;

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 9999;
  padding-top: 10%; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */
footer {
	
	width: 100%;
	height: 20vh;
	padding-top: 3%;
	
}

footer a {
	text-decoration: none;
}

footer img {
	max-height: 30px;
	width: auto;
}

footer p:last-child {
	text-align: center;
	margin: 20px auto 15%;
}

.footer-text {
	margin-left: 5%;
}

.footer-text img {
	margin-top: 15px;
}

/* TABLET */

@media screen and (max-width:1024px) {
   #baner {
    min-height: 80vh;
    transition: 0.5s ease;
  }

  #baner p span {
    font-size: 96px;
  }
  
  #omeni {
    gap: 5vw;            
    padding: 12vh 8%;
    transition: 0.5s ease;      
  }

  .tehnicke-vestine {
    max-width: 320px;
    transition: 0.5s ease;
  }

  .vestine img {
    width: 115%;           
  }

  .vestine-tekst {
    left: 16%;
    top: 110px;            
  }

  .vestine-tekst h3 {
    font-size: 1.1rem;
  }

  .vestine-tekst p {
    font-size: 1.05rem;
    line-height: 1.2;
    max-width: 280px;
  }

  .nina {
    max-width: 380px;      
    top: -12vh;            
  }

  .nina h2 {
    font-size: 2.4rem;
  }

  .nina p {
    font-size: 1.2rem;
    line-height: 1.45;
    margin-bottom: 20%;
  }

  .nina h2,
  .nina p {
    margin-left: 22%;      
  }

  #radovi h2 {
    font-size: 2.4rem;
  }

  #tabs a, 
  #tabs a:hover, 
  #tabs a:active {
    transform: none !important;     
    transition: none !important;     
    font-size: 1.1rem !important;    
  }

  
  #tabs a #current {
    z-index: 100 !important;        
    position: relative;              
    border-bottom: none;
  }

  #tabs a:not(#current) {
    z-index: 1;
    position: relative;
  }

   #tabs {
    width: 90vw;
    gap: 2.5vw;
    transition: 0.5s ease;  
  }

  #tabs a {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
    padding: clamp(0.5em, 1vw, 0.7em) clamp(1em, 2vw, 2em);
  }

  
  #content {
    padding: 0 50px; 
  }

  .nav-arrow {
    font-size: 2.5rem; 
    width: 40px;
  }

  #tab1 {
    align-items: center;
  }

  .item p {
    font-size: 0.95rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .rem-wrapper {
    flex: 0 0 100%;
    gap: 15px;
    padding: 0 10px;
  }

  .rem-slike {
    width: 45%; 
    height: auto;
  }

  .rem-text p {
    font-size: 1rem !important;
    line-height: 1.4;
  }

  /* TAB 3 - Video Igra */
 
  #themeToggle {
    width: 140px; 
    height: 50px;
    padding: 5px;
  }

  
  #themeToggle img {
    height: 80%; 
    width: auto; 
    object-fit: contain;
  }

  
  #themeToggle.day #toggleIcon {
    transform: translateX(85px) scale(1.1); 
  }

  .toggle-text {
    font-size: 1.1rem;
  }

  .table {
    flex: 0 0 200%;
  }

  /* TAB 4 - Brending */
  
  .patern {
    flex: 0 0 200% !important; 
    width: 200%;
    display: flex;
    justify-content: flex-start; /* Počinjemo od leve ivice */
    align-items: center;
    overflow: hidden;
    padding-top: 200px;
  }

  .patern-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .patern-inner img {
    width: 80%;
    height: auto;
    object-fit: cover; 
    display: block;
    margin-top: 20px;
  }

  .patern-inner h3 {
    position: absolute;
    top: 10%;
    right: 27%; 
    font-size: 1.8rem;
    z-index: 5;
  }

  .patern-inner p {
    position: absolute;
    top: 25%;
    right: 25%; 
    width: 200px;
    font-size: 1.1rem;
    line-height: 1.4;
    z-index: 5;
  }
 
.formula figure {
    flex: 0 0 100% !important; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pcela {
    flex: 0 0 100% !important;
    padding-left: 0;
    text-align: center; 
  }

  .formula figure p {
    width: 100%; 
    max-width: none; 
    font-size: 1.1rem !important; 
    padding: 130px 200px 100px; 
    margin: 0 auto;
    
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .pcela p {
  
    font-size: 1.1rem !important; 
    width: 100%;
    margin-bottom: 20px;
  }

  .pcela .logo1, .pcela .logo2 {
    width: 40%; 
    height: auto;
  }

   .pcela .logo1 {
    margin-top: 20px;
   }

  .pcela .logo2 {
    margin-left: -30px;
    margin-bottom: 300px;
    
  }

  .brosura {
    clear: both;
    margin-top: 290px;
  }

  .brosura img:hover {
    transform: scale(2);
  }

  .jez {
    gap: 20px;
  }

  .jez > p {
    font-size: 1.1rem;
  }

  .stikeri .stiker2 {
    margin-top: -60px;
  }

  /* Carousel */
  .card {
    width: 350px; 
  }

  .rem-galerija {
    padding: 5% 0;
  }

  .rem-galerija img:active {
    transform: scale(1.05);
    filter: grayscale(0%);
    box-shadow: 0 10px 20px rgba(195, 150, 181, 0.4);
  }
  
  .rem-galerija:hover img:not(:hover) {
    opacity: 1;
    filter: none;
    transform: none;
  }


  #kontakt {
    background-size: 150%;  
    padding-top: 30vh; 
    transition: 0.5s ease;  
  } 

  form {
    width: 50vw;
    transition: 0.5s ease; 
  }
}









/* MOBILNI */
@media screen and (max-width: 768px) {

  .hamburger {
    display: block; 
    }
  .hamburger.active .bar:nth-child(2) { opacity: 0; }
  .hamburger.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

  .menu {
    position: fixed;
    top: -300%; 
    left: 0;
    width: 100%;
    height: auto; 
    background-color: rgba(252, 226, 232, 0.98); 
    backdrop-filter: blur(10px);
        
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0; 
    gap: 1.5rem;
        
    transition: top 0.4s ease-in-out;
    z-index: 999; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-bottom: 1px solid #eee;
  }

    
  .menu.active {
      top: 112px; 
  }

   
  nav a {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .modal-content {
    width: 100%;
  }

  #baner {
    min-height: 80vh;
    transition: 0.5s ease;
  }

  #baner p {
    font-size: 1.5em;
  }

  #baner p span {
    font-size: 80px;
  }

  #omeni {
    
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }

  .nina {
    order: 1;
    max-width: 100%;
    margin-left: 0;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .nina img  {
    width: 70%;
    margin: 0 auto;
  }

  .nina p {

    max-width: 70vw;
    text-align: center;
    margin: 0 auto;     
  }

  .tehnicke-vestine {
    order: 2;
    max-width: 80%;
    width: 80%;
    margin: 0 auto 100px;
  }

  
  .nina h2, .nina p {
    margin-left: 0;
    text-align: center; 
  }

  .vestine-tekst {
   
    width: 100%;
    padding: 20px 0;
  }
  
  .vestine img {
    width: 80%;
    margin: 0 auto; 
  }

  .nav-arrow {
    font-size: 2rem;
    width: 35px;
    z-index: 100;
    pointer-events: auto;
  }

  #content {
    padding: 0 20px; 
  }
  /* TAB 2 - REM */
  .rem-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding-top: 40px;
    padding-left: 15px;
    position: relative;
  }

  .rem-slike {
    width: 70vw; 
    height: auto;
    aspect-ratio: 1/1;
    margin: 0 auto;
    position: relative;
  }

  .rem-slike .ruz2 {
    top: 0;
    position: absolute;
  }

  .rem-text {
    max-width: 100%;
    padding: 0 15px;
  }

  .rem-galerija {
    width: calc(100vw - 80px); 
    margin: 0 auto;
   
    
    display: flex;
    padding: 0 40px; 
    gap: 20px;
    scroll-padding: 40px;
  }

  /* TAB 3 - Video Igra */
  .scene-toggle {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 30px;
  }

  .scene-wrapper img.scene {
    max-width: 85%;
  }

  #themeToggle {
    width: 140px;
    height: 50px;
  }

  .toggle-text {
    max-width: 100%;
    font-size: 1rem !important;
    text-align: center;
  }

  .formula-wrapper {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    flex: 0 0 200% !important; 
    width: 200vw !important;
  }
  .formula figure,
  .pcela {
    flex: 0 0 100vw !important; 
    width: 100vw !important;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
  }

  .pcela {
    position: relative;
  }

  .pcela p {
    text-align: center;  
  }

  .pcela .logo1, .pcela .logo2 {
    width: 30%;
  }

  .pcela .logo1 {
    padding-left: 30px;
    margin-bottom: 20px;
    width: 35%;
  }

  .pcela .logo2 {
    position: absolute;
    left: 30%;
    width: 35%;
  }

  .formula figure p {
    width: 100%;
    max-width: 220px;
    padding: 170px 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2rem;
  }

  .brosura {
    flex: 0 0 100vw !important; 
    width: 100vw !important;
    scroll-snap-align: start;
    
    display: flex;
    flex-direction: column !important; 
    align-items: center;
    gap: 60px;
    
  }


  .brosura img {
    max-width: 150%;
    height: auto;
  }

  
  .patern {
    flex: 0 0 200% !important;
    width: 200vw !important;
    scroll-snap-align: start;
  }
  

 
  .patern {
    flex: 0 0 200% !important;
    width: 200% !important;
    min-width: 200%;
    scroll-snap-align: start;
  }
  
  .patern-inner img {
    width: 80%;
    display: block;
    margin-top: 100px;
  }

  .patern-inner h3 {
    margin-top: 100px;
    font-size: 1.5rem;
  }

  .patern-inner p {
    margin-top: 80px;
  }


  .jez-sekcija-container {
    flex: 0 0 100vw !important; 
    width: 100vw !important;
    min-width: 100vw;
    scroll-snap-align: start;
    
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
    overflow-y: auto; 
  }

  .stikeri {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .stikeri .stiker2 {
    position: absolute;
    bottom: -20%;
    left: 20%;
    width: 50%;
  }

  .stikeri .stiker1 {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 50%;
  }

  .jez {
    order: 2;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .carousel-container {
    order: 3;
    width: 100%;
    margin-top: 20px;
  }

  #tab2 {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  .rem-galerija img {
    scroll-snap-align: center;
    height: 350px;
    margin: 0 15px;
  }

  /* --- KONTAKT --- */
  #kontakt {
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 50px 0;
  }

  form {
    width: 60%;
    transition: 0.5s ease; 
  }

  input[type="submit"] {
    width: 100%; 
  }


  #kontakt {
    background-size: 250%;
    background-position: cover;
    height: auto;
    transition: 0.5s ease; 
  } 

  form {
    width: 50vw;
    transition: 0.5s ease; 
  }

  input, textarea {
    width: 100%;
    font-size: 1.1rem;   
    padding: 14px;
  }

  textarea {
    margin-bottom: 3rem;
  }

  input[type="submit"] {
    width: 50%;
    font-size: 1.2rem;
  }

  input[type="submit"]:hover {
    width: 60%;
  }
}




























